<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<div class="skills">
	<div style="display: flex; flex-direction: row; font-size: 3vh">
		<span style="--scale: 4; flex: 1">Angular</span>
		<span class="dots hidden">
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined" style="--fill: 0">
				radio_button_unchecked
			</span>
		</span>
	</div>
	<div style="display: flex; flex-direction: row; font-size: 3vh">
		<span style="--scale: 4; flex: 1">Javascript</span>
		<span class="dots hidden">
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined" style="--fill: 0">
				radio_button_unchecked
			</span>
		</span>
	</div>
	<div style="display: flex; flex-direction: row; font-size: 3vh">
		<span style="--scale: 3; flex: 1">C++</span>
		<span class="dots hidden">
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined" style="--fill: 0">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined" style="--fill: 0">
				radio_button_unchecked
			</span>
		</span>
	</div>
	<div style="display: flex; flex-direction: row; font-size: 3vh">
		<span style="--scale: 5; flex: 1">Dart</span>
		<span class="dots hidden">
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
		</span>
	</div>
	<div style="display: flex; flex-direction: row; font-size: 3vh">
		<span style="--scale: 4; flex: 1">Linux</span>
		<span class="dots hidden">
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined" style="--fill: 0">
				radio_button_unchecked
			</span>
		</span>
	</div>
	<div style="display: flex; flex-direction: row; font-size: 3vh">
		<span style="--scale: 3; flex: 1">Windows</span>
		<span class="dots hidden">
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined" style="--fill: 0">
				radio_button_unchecked
			</span>
			<span class="material-symbols-outlined" style="--fill: 0">
				radio_button_unchecked
			</span>
		</span>
	</div>
</div>
