main {
	margin-top: 10vh;
	display: grid;
	row-gap: 10vh;
}

.skill-page {
	display: grid;
}

p {
	text-align: justify;
}

.cards {
	display: grid;
	grid-template-rows: 3fr 3fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.cards > h1, .cards > p {
	grid-column: span 3;
	padding: 0.7em;
}

.cards > h1 {
	font-size: 15vw;
}

.cards > p {
	font-size: 5vw;
	margin: 1em 1em;
}

.languages {
	justify-self: center;
	align-self: center;
}

.logos {
	display: grid;
	grid-row: span 2;
}

.logos > img {
	width: 80%;
	justify-self: center;
	align-self: center;
	transform: translateY(20%);
	transition: all 0.3s ease-in-out;
}

.logos > h3 {
	color: #505050;
	font-size: 3vh;
	text-align: center;
	transform: translateY(-40%);
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.logos:hover > img {
	transform: translateY(0%);
}

.logos:hover > h3 {
	transform: translateY(0);
	opacity: 1;
}

.container3D {
	height: 100%;
	width: 100vw;
	position: absolute;
	z-index: -1;
	filter: brightness(0.5) blur(2px);
}

.creative > p {
	grid-row: span 3;
}

.maze > svg{
	width: 100%;
}