.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

main {
	margin-top: 10vh;
	display: grid;
	row-gap: 10vh;
}

.skill-page {
	display: grid;
}

p {
	text-align: justify;
	text-indent: 2em;
	margin: 2em 0;
}

.cards {
	display: grid;
	grid-template-rows: 2fr 3fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 3vh;
}

.cards > h1, .cards > p {
	grid-column: span 3;
}

.cards > h1 {
	font-size: 15vw;
}

.cards > p {
	font-size: 5vw;
}

.languages > * {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease-in-out;
}

.languages > h3 {
	color: #505050;
	font-size: 5vw;
}

.languages > h4 {
	font-size: 3vw;
	opacity: 0;
	transform: translateY(-100%);
}

.languages:hover > h3{
	color: white;
	scale: 1.5;
}

.languages:hover > h4 {
	opacity: 1;
	transform: translateY(50%);
}

.logos {
	display: grid;
	grid-row: span 2;
}

.logos > img {
	width: 80%;
	justify-self: center;
	align-self: center;
	transform: translateY(20%);
	transition: all 0.3s ease-in-out;
}

.logos > h3 {
	color: #505050;
	font-size: 3vh;
	text-align: center;
	transform: translateY(-40%);
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.logos:hover > img {
	transform: translateY(0%);
}

.logos:hover > h3 {
	transform: translateY(0);
	opacity: 1;
}

.container3D {
	height: 100%;
	width: 100vw;
	position: absolute;
	z-index: -1;
	filter: brightness(0.5) blur(2px);
}

.creative > p {
	grid-row: span 3;
}

.problem {
	grid-template-rows: 1fr 2fr !important;
}

#hilbert {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 2vw;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
	
}

/* Desktop version */
@media (min-aspect-ratio: 1/1) {
	.skill-page {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.cards {
		grid-template-rows: 1fr 2fr 1fr 1fr;
	}

	.cards > h1 {
		font-size: 10vh;
	}
	
	.cards > p {
		font-size: 2vh;
		padding: 0 2em;
	}

	.languages > h3 {
		font-size: 2.5vw;
	}
	
	.languages > h4 {
		font-size: 1.5vw;
	}

	.flexible {
		grid-template-rows: 2fr 3fr 1fr 1fr;
	}

	.flexible:hover > .languages:not(:hover) > h3{
		color: #202020;
	}

	.creative {
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.creative > p {
		grid-row: unset;
		grid-column: span 3;
	}

	.container3D {
		width: unset;
		position: unset;
		z-index: unset;
		filter: unset;
	}

	.logos > img {
		width: 80%;
	}

	.problem {
		grid-template-rows: 1fr 1fr !important;
	}
}