.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #131316;
	height: 100vh;
	width: 35vw;
}

.scrollbar {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	height: 0vh;
	width: 1vw;
	background-color: #ffffff30;
	overflow: hidden;
}

.pages {
	margin: 10vh 3vh;
	padding: 0;
	width: fit-content;
	height: 10%;
	display: flex;
	flex-direction: column;
	transition: all 0.2s ease-in-out;
	justify-content: center;
}

li {
	flex-grow: 1;
	font-size: 3vh;
	list-style: none;
	color: gray;
	transition: all 0.2s ease-in-out;
}

li:hover {
	cursor: pointer;
	font-size: 6vh;
	color: white;
	flex-grow: 1.5;
}

#skills {
	opacity: 0;
}