.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #131316;
	height: 100vh;
	width: 35vw;
}

.scrollbar {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	height: 0vh;
	width: 1vw;
	background-color: #ffffff30;
	overflow: hidden;
}

.links {
	margin: 3vh;
	width: fit-content;
	display: grid;
	justify-items: center;
}

.icon {
	padding: 0.1em;
	font-size: 5vh;
	color: #505050;
	background: linear-gradient(-20deg, turquoise 0%, #ff00dd 100%);
	background-clip: text;
	transition: color 0.3s ease-in-out;
	transform: translateX(-300%);
	animation: comeIn 1s ease-in-out forwards;
}

.icon:hover {
	color: transparent;
	cursor: pointer;
}

@keyframes comeIn {
	0% {
		transform: translateX(-300%);
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

li, a {
	flex-grow: 1;
	font-size: 3vh;
	list-style: none;
	text-decoration: none;
	color: gray;
	transition: all 0.2s ease-in-out;
}

li:hover,a:hover {
	cursor: pointer;
	font-size: 6vh;
	color: white;
	flex-grow: 1.5;
}

#skills {
	opacity: 0;
	margin-bottom: 20vh;
}
