<main>
	<div id="scrollbar" class="scrollbar"></div>
	<section class="profile page">
		<app-profile></app-profile>
		<div class="sidebar">
			<div class="links">
				<a
					href="https://github.com/PatrickCoral"
					target="_blank"
					rel="noreferrer noopener"
					><i class="icon fa-brands fa-github"></i
				></a>
				<a
					href="https://www.linkedin.com/in/patrick-coral-858873254/"
					target="_blank"
					rel="noreferrer noopener"
					><i class="icon fa-brands fa-linkedin"></i
				></a>
			</div>
			<p
				style="
					margin: 3vh;
					font-size: 2vh;
				"
			>
				Download the PDF version: <br />

				<a
					href="assets/CV_EN.pdf"
					target="_blank"
					rel="noopener noreferrer"
					>English</a
				><br />
				<a
					href="assets/CV.pdf"
					target="_blank"
					rel="noopener noreferrer"
					>French</a
				>
			</p>
		</div>
	</section>
	<section id="skills" class="skills page">
		<app-skills></app-skills>
	</section>
</main>
