.hero {
	height: 100vh;
	position: relative;
	display: grid;
}

.hero::before {
	z-index: -1;
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
	background-size: cover;
	background-position: 50%;
	filter: grayscale(0.5) brightness(0.5);
}

.hero::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(#00000000 50%, #131316 98%);
}

.splash {
	z-index: 1;
	justify-self: center;
	align-self: center;
}

/* Desktop version */
@media (min-aspect-ratio: 0.7) {
	.splash {
		left: 25%;
	}
}

.splash > h1 {
	overflow: hidden;
	padding: 1em;
	width: fit-content;
	max-width: 100%;
	background-color: #202020;
	font-size: min(5vw, 4vh);
	color: white;
	transition: all 1s ease-in-out;
	white-space: nowrap;
}

.splash > h1.hidden {
	color: rgba(255, 255, 255, 0);
	max-width: 0;
	padding: 0;
	padding-top: 1em;
	padding-bottom: 1em;
}

.hi {
	transition-delay: 0ms;
}

.name {
	transition-delay: 300ms !important;
	transform: translateX(-3vh) translateY(-30%);
}

.description {
	transition-delay: 500ms !important;
	transform: translateY(-60%);
}

.presentation {
	width: 100%;
	height: fit-content;
	display: flex;
}

.presentation > div {
	width: max(50vw, 40vh);
}

.presentation > div > h1 {
	margin: 1em auto;
	font-family: "Exo 2", sans-serif;
	font-weight: 700;
	font-size: 5vh;
}

.presentation > div > p {
	text-indent: 2em;
	font-family: "Exo 2", sans-serif;
	font-size: 2vh;
	font-weight: 200;
	text-align: justify;
	text-justify: auto;
	padding: 0 1em;
}

@media (min-aspect-ratio: 1/1) {
	.presentation > div > p {
		font-size: 3vh;
	}
}
