<main>
	<div class="hero">
		<div class="splash">
			<h1 class="splash-item hi hidden">Hi there!</h1>
			<h1 class="splash-item name hidden">I'm Patrick Coral</h1>
			<h1 class="splash-item description hidden">
				Independent <span class="highlight">Digital Designer</span>
			</h1>
		</div>
	</div>
	<div class="presentation">
		<div style="margin: 0 auto; height: fit-content">
			<h1>About me...</h1>
			<p>
				I am a beginner web developer with a strong passion for creating
				<b class="highlight">dynamic</b> and
				<b class="highlight">engaging</b> websites and web applications.
			</p>
			<p style="margin-top: 1em">
				After two years studying microengineering @ EPFL, I discovered
				a <b class="highlight">talent</b> for programming. I then decided to change my career path to focus entirely on
				building software.
			</p>
			<p style="margin-top: 1em">
				I have completed coursework in HTML, CSS, and JavaScript, and
				have built several projects using these languages. In addition,
				I have experience using frameworks such as
				<b class="highlight">Svelte</b> and
				<b class="highlight">Angular</b>, and am proficient in
				responsive design and cross-browser compatibility.
			</p>
		</div>
	</div>
</main>
